﻿* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

header {
    width: 100%;
    height: 8em;
    background-color: #ffff99;
    background-image: url("../Images/Header-Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 2px solid black;
}

.site-logo-box {
    position: relative;
    float: left;
    width: 15%;
    height: 100%;
    padding-top: 2px;
    margin-left: 5%;
}

header img {
    width: 100%;
    height: 100%;
    position: absolute;
}

header h1 {
    width: 50%;
    padding-top: 35px;
    margin-left: 18%;
    text-align: center;
    font-size: 36pt;
    font-weight: bold;
    font-family: "Arial";
}

main {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
}

.content {
    width: 80%;
    float: left;
}

aside {
    float: right;
    width: 20%;
    height: 100%;
    overflow: auto;
}

aside ul {
    list-style-type: none;
}

aside a {
    display: block;
    height: 33%;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: center;
    color: silver;
    background-color: black;
    font-size: 14pt;
    text-decoration: none;
    border-bottom: 1px solid silver;
}

aside a:hover {
    color: black;
    background-color: silver;
    border-bottom: 1px solid black;
}

footer {
    width: 100%;
    height: 100px;
    padding-top: 20px;
    background-color: black;
    text-align: center;
    color: silver;
}

footer a {
    display: block;
    margin-top: 5px;
    text-decoration: none;
    color: silver;
} 

.voting {
    border-left: 1px solid black;
    padding-left: 5px;
    margin-bottom: 10px;
}

.voting h2{
    text-align: center;
    margin-bottom: 10px;
}

.voting-user-choose {
    background-color: lightgray;
}

.voting-form h2{
    text-align: center;
    margin-bottom: 10px;
}

.voting-form-submit-line {
    text-align: center;
}

.voting-form p {
    text-align: left;
    margin-bottom: 5px;
}

.voting-form input[type="submit"] {
    padding: 5px 10px;
    color: silver;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
} 

.voting-form input[type="submit"]:hover {
    color: black;
    background-color: white;
}

.voting img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
}