﻿* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.reviews-container {
    width: 100%;
    padding: 2px;
    padding-right: 5px;
}

.review {
    width: 100%;
    border-bottom: 3px solid silver;
    overflow-wrap: break-word;
    overflow: hidden;
}

.review-header {
    overflow: hidden;
    margin-bottom: 5px;
}

.review-header img {
    display: block;
    width: 5%;
    height: 100%;
    float: left;
    margin-right: 10px;
    border-radius: 10px;
}

.review-header h2 {
    font-size: 17pt;
}

.review-header span {
    font-size: 10pt;
    color: silver;
}

.review{
    margin-bottom: 10px;
}

.review p {
    margin-left: 10px;
    margin-bottom: 5px;
}

.review-form form {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
    border-left: 1px solid black;
}

.review-form h2 {
    display: block;
    margin-bottom: 10px;
    font-size: 16pt;
}

.input-container label {
    display: block;
    float: left;
    width: 40%;
    margin-right: 5%;
}

.input-container {
    margin-bottom: 5px;
}

.review-form input[type="text"] {
    border-radius: 5px;
    text-align: center;
    border: 1px solid black;
    width: 55%;
}

.review-form textarea {
    width: 55%;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.review-form input[type="submit"] {
    width: 40%;
    height: 5%;
    padding: 5px 2px;
    color: silver;
    background-color: black;
    border-radius: 10px;
    border: 1px solid silver;
}

.review-form input[type="submit"]:hover {
    color: black;
    background-color: silver;
    cursor: pointer;
}

.answer-to-review {
    text-align:center;
}

.answer-to-review h2{
    font-size: 20pt;
}

.answer-to-review p{
    font-size: 16pt;
}

.answer-to-review a {
    color: black;
}