﻿* {
    padding: 0;
    margin: 0;
}

.news-container {
    width: 100%;
    padding: 2px;
    padding-right: 5px;
    overflow: hidden;
    font-size: 20pt;
}

.news {
    overflow: hidden;
    margin-bottom: 5px;
    border-bottom: 2px solid silver;
    padding-bottom: 10px;
}

.news p {
    margin-top: 10px;
    font-size: 14pt;
}

.news-header h2 {
    font-size: 23pt;
}

.news-header span{
    font-size: 10pt;
    color: silver;
}

.news-content {
    text-align: left;
    overflow: hidden;
    padding: 0;
}

.news-link {
    display: block;
    float: left;
    text-decoration: none;
    color: silver;
    font-size: 10pt;
}