﻿.news-report-container {
    padding: 5px 0 10px 0;
    margin-right: 5px;
    font-size: 14pt;
    border-bottom: 3px solid silver;
}

.news-report-container h2{
    font-size: 23pt;
}

.news-report-info {
    overflow: hidden;
    margin-bottom: 5px;
}

.news-report-info p {
    float: left;
    margin-right: 5px;
    color: silver;
    font-size: 10pt;
}

.news-report-content {
    overflow: hidden;
}

.news-report-tags {
    color: silver;
    font-size: 10pt;
    margin-top: 5px;
}

.news-report-review-form {
    margin-top: 10px;
    margin-bottom: 20px;
}

.news-report-review-form label {
    display: block;
    width: 13%;
    float: left;
}

.news-report-review-form input[type="text"] {
    width: 30%;
    border: 1px solid black;
    border-radius: 5px;
}

.news-report-review-form input[type="submit"] {
    width: 10%;
    padding: 5px 10px;
    color: silver;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
}

.news-report-review-form input[type="submit"]:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

.news-report-review-form textarea {
    width: 85%;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
}

.news-report-review-form-line {
    margin-top: 5px;
}

.news-report-review-form-submit-line {
    margin-top: 10px;
    text-align: center;
}