﻿* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.news-offer-container {
    padding-top: 5px;
}

.news-offer-container-input-line {
    margin-bottom: 5px;
}

.news-offer-container-input-line label {
    display: block;
    text-align: right;
    float: left;
    width: 15%;
    margin-right: 5px;
    border-radius: 10px;
}

.news-offer-container-input-line textarea {
    padding: 2px;
    width: 75%;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
}

.news-offer-container-input-line input[type="text"] {
    padding: 2px;
    border: 1px solid black;
    border-radius: 10px;
}

.news-offer-container-submit {
    text-align: center;
    margin-bottom: 5px;
}
.news-offer-container-submit input[type="submit"]{
    padding: 2px 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    color: silver;
}
