﻿* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 12pt;
}

.quest-form {
    padding-top: 5px;
    padding-left: 5px;
}

.quest-form ul {
    margin-left: 7%;
    list-style-type: none;
}

.input-line {
    margin-bottom: 5px;
}

.input-line label{
   display: block;
   float: left;
   width: 10%;
}

.input-line p {
    margin-left: 10px;
}

.input-line input[type="text"]{
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
}

.input-line input[type="number"] {
    width: 6%;
    text-align: center;
    border-radius: 7px;
    border: 1px solid black;
}

.quest-form input[type="submit"]{
    width: 20%;
    height: 5%;
    padding: 5px 2px;
    margin: 10px 0 10px 0;
    color: silver;
    background-color: black;
    border-radius: 10px;
    border: 1px solid silver;
}

.quest-form input[type="submit"]:hover {
    color: black;
    background-color: silver;
    cursor: pointer;
}

.quest-header {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.quest-header h2 {
    font-size: 24pt;
}

.quest-reply {
    text-align: center;
}

.quest-reply h2 {
    font-size: 20pt;
}

.quest-reply p {
    font-size: 16pt;
}

.quest-reply a {
    color: black;
}