﻿.field-validation-error {
    color: #6699CC;
    font-weight:bold;
    text-decoration:underline;
}
 
input[type="text"].input-validation-error {
    border: 1px solid red;
}

textarea.input-validation-error {
    border: 1px solid red;
}
 
.validation-summary-errors {
    padding-left: 3px;
    text-align: left;
    color: #b94a48;
}
 
.validation-summary-valid {
    display: none;
}
