﻿@using Blog.Helpers.BasicLayoutHelpers;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blog</title>
    <link href="~/Content/MainPageStyles.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/GuestPageStyles.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/BasicLayoutStyles.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/QuestionnairePageStyles.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/NewsReportOfferPageStyles.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/ValidationErrorsStyles.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/NewReportPageStyles.css" type="text/css" rel="stylesheet"/>
    <script src="~/Script/LogoAnimation.js" type="text/javascript"></script>
</head>
<body>
    <header id="header">
        <div class="site-logo-box">
            <img id="logo" src="~/Images/site-icon.png"/>
        </div>
        <h1>Блог обо всём</h1>
    </header>
    <main>
        <div class="content">
            @RenderBody()
        </div>
        <aside>
            @Html.ActionList(new MvcHtmlString[] {
                @Html.ActionLink("Главная", "Index", "Home"),
                @Html.ActionLink("Гостевая", "Index", "GuestPage"),
                @Html.ActionLink("Анкета", "Index", "Questionnaire")
                 })
            @RenderSection("ExtendedData", false)
            @RenderSection("Voting", false)
        </aside>
    </main>
    <footer>
        <p>.Net Blog Kharkov &#169 2018</p>
        <a href="#header">Перейти в начало</a>
    </footer>
</body>
</html>
