﻿@{
    ViewBag.Title = "AddResult";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="answer-to-review">
    <h2>Спасибо!</h2>
    <p>@ViewBag.Answer</p>
    @Html.ActionLink("Вернуться к отзывам...", "Index", "GuestPage")
</div>

