﻿﻿@using Blog.Helpers.GuestPageHelpers
@model IQueryable<BlogData.Reviews.Models.Review>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

@Html.Review(Model)

@section ExtendedData{
    <div class="review-form">
        @using (Html.BeginForm("AddReview", "GuestPage", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <h2>Оставьте ваш отзыв здесь...</h2>
            <div class="input-container">
                @Html.Label("Your name: ", new { @for = "Author" })
                @Html.TextBox("Author")
            </div>
            <div class="input-container">
                @Html.Label("Your comment: ", new { @for = "ReviewContent" })
                @Html.TextArea("ReviewContent")
            </div>
            <input type="submit" value="Отозваться" />
            @Html.ValidationSummary();
        }
    </div>
}