﻿@{
    ViewBag.Title = "Спасибо!";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="quest-reply">
    <h2>Спасибо!</h2>
    <p>Спасибо за отзыв, @ViewBag.Name. Мы свяжемся с Вами в ближайшее время!</p>
    @Html.ActionLink("Вернуться на главную...", "Index", "Home")
</div>

