﻿@using Blog.Helpers.QuestionnairyHelpers
@model Blog.Models.QuestionnaireData

@{
    ViewBag.Title = "Questionnairy";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="quest-header">
    <h2>
        Здравствуй, уважаемый посетитель нашего сайта!
    </h2>
    <p>Мы собираем анкеты для улучшения контента нашего сайта.</p>
    <p>Внести свой вклад в развитие сайта можешь и ты. Для этого необходимо заполнить анекту ниже... </p>
</div>


<div class="quest-form">
    @using (Html.BeginForm("AddQuestionnairy", "Questionnaire", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="input-line">
            @Html.Label("Name: ", new { @for = "Name" })
            @Html.TextBox("Name")
        </div>
        <div class="input-line">
            @Html.Label("Surname: ", new { @for = "Surname" })
            @Html.TextBox("Surname")
        </div>
        <div class="input-line">
            @Html.Label("Age")
            @Html.NumberHelper("20", "18", "90", "Age")
        </div>
        <div class="input-line">
            @Html.Label("Country: ", new { @for = "Country" })
            @Html.TextBox("Country")
        </div>
        <div class="input-line">
            Sex:
            @Html.BlogRadioButtonHelper("Gender", true, "Male")
            @Html.BlogRadioButtonHelper("Gender", false, "Female")
        </div>
        <div class="input-line">
            Which type of news do you prefer?
            @Html.CheckBoxHelper("PreferFootballNews", "Football news")
            @Html.CheckBoxHelper("PreferPoliticianNews", "Politician news")
            @Html.CheckBoxHelper("PreferCultureNews", "Culture news")
            @Html.CheckBoxHelper("PreferItNews", "IT news")
        </div>

        <input type="submit" value="Отправить" />
    }
</div>