﻿<div class="voting">
    <img src="~/Images/voting-cat.jpg" alt="cat"/>

    @using (@Html.BeginForm("AddVote", "Votings", FormMethod.Get, new { @class = "voting-form" }))
    {
        <h2>Котиков любите?</h2>
        <p>
            <input type="radio" name="votingVariant" value="true" />
            Да
        </p>
        <p>
            <input type="radio" name="votingVariant" value="false" />
            Нет
        </p>

        <div class="voting-form-submit-line">
            <input type="submit" value="Голосовать" />
        </div>

    }
</div>