﻿@model BlogData.Votings.VotingAboutCats

<div class="voting">
    @if ((bool)ViewBag.Like)
    {
        <img src="~/Images/funny-cat.jpg" alt="cat" />
    }
    else
    {
        <img src="~/Images/sad-cat.jpg" alt="cat" />
    }

    <h2>Любите котиков?</h2>
    @if ((bool)ViewBag.Like)
    {
        <p class="voting-user-choose">@Model.PeopleWhoLoveCatsCount человек сказали "Да!"</p>
        <p>@Model.PeopleWhoDontLoveCatsCount человек сказали "Нет!"</p>
    }
    else
    {
        <p>@Model.PeopleWhoLoveCatsCount человек сказали "Да!"</p>
        <p class="voting-user-choose">@Model.PeopleWhoDontLoveCatsCount человек сказали "Нет!"</p>
    }

</div>