﻿@model BlogData.News.Models.NewsReport

@{
    ViewBag.Title = "AddNewsReport";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Спасибо за предложенную новость!</h2>
<p>Новость будет рассмотрена в ближайшее время</p>
