﻿@model BlogData.News.Models.NewsReport

@{
    ViewBag.Title = "Your news...";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="news-offer-container">
    @using (@Html.BeginForm("AddNewsReport", "NewsReportOffer", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary();
        <div class="news-offer-container-input-line">
            @Html.LabelFor(x => x.Author)
            @Html.TextBoxFor(x => x.Author)
        </div>
        <div class="news-offer-container-input-line">
            @Html.LabelFor(x => x.AuthorEmail)
            @Html.TextBoxFor(x => x.AuthorEmail)
        </div>
        <div class="news-offer-container-input-line">
            @Html.LabelFor(x => x.ReportHeader)
            @Html.TextAreaFor(x => x.ReportHeader)
        </div>
        <div class="news-offer-container-input-line">
            @Html.LabelFor(x => x.ReportContent)
            @Html.TextAreaFor(x => x.ReportContent)
        </div>
        <div class="news-offer-container-input-line">
            @Html.LabelFor(x => x.ReportTags)
            @Html.TextAreaFor(x => x.ReportTags)
        </div>
    <div class="news-offer-container-submit">
        <input type="submit" value="Предложить" />
    </div>

    }
</div>