﻿@model BlogData.Reviews.Models.Review

@{
    Model.Author = "";
    Model.ReviewContent = "";
}

<div class="news-report-review-form">
    @using (@Html.BeginForm("AddedNewComment", "NewsReportPage", FormMethod.Get, new { enctype = "multipart/form-data" }))
    {
        <h2>Оставить комментарий...</h2>
        <div class="news-report-review-form-line">
            @Html.LabelFor(x => x.Author)
            @Html.TextBoxFor(x => x.Author)
        </div>
        <div class="news-report-review-form-line">
            @Html.LabelFor(x => x.ReviewContent)
            @Html.TextAreaFor(x => x.ReviewContent)
        </div>
        <div class="news-report-review-form-submit-line">
            <input type="submit" value="Кликнуть" />
        </div>
    }
</div>