﻿@using Blog.Helpers.GuestPageHelpers
@using BlogData.Reviews.Models
@model BlogData.News.Models.NewsReport

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="news-report-container">
    <h2>
        @Model.ReportHeader
    </h2>
    <div class="news-report-info">
        <p>@Model.Author</p>
        <p>@Model.Date</p>
    </div>
    <div class="news-report-content">
        @Html.Raw(@Model.ReportContent.Replace("\n", "<br/>"))
    </div>
    <div class="news-report-tags">
        <p>
            @Model.ReportTags
        </p>
    </div>
</div>

@{Html.RenderPartial("AddNewComment", new Review());}

@Html.Review(@Model.ReportReviews)